@using System.Linq
@model Hospital?


@{
    ViewBag.Title = "title";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <title>Document</title>
</head>
<body>
 
<header>
  <div class = "fix_bug">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid ">
        <h1 class="page header text-light">Online Hospital</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link disabled " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-controller="Doctor" asp-action="List">Doctor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " asp-controller="Hospital" asp-action="HospitalList">Hospital</a>
            </li>
          </ul>


        </div>
      </div>
    </nav>
  </div>
</header>











<form asp-controller ="Hospital" asp-action="EditLogic" class="container needs-validation mt-5" novalidate method="post" >

 
  <div class="size">
    <label for="validationCustom02" class="form-label">Name Hospital</label>
  </div>
  <div class="size">
    <input name = "NameHospital" type="text" class="form-control input_size " id="validationCustom02" value="@Model.NameHospital" required>
  </div>
  <div class="valid-feedback">
    Looks good!

  </div>
  <div class="size">
    <label for="validationCustomUsername" class="form-label">Contact Number</label>
  </div>
  <div class="input-group has-validation">
        
    <div class="size">
      <input name = "ContactNumber" type="text" class="form-control input_size " id="validationCustom02" value="@Model.ContactNumber" required>
    </div>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>

 
  <div class="size mb-5">
    <div class="row">

      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
  </div>

  
  <div class="size">
    <label for="validationCustomUsername" class="form-label">Start Work</label>
  </div>
  <div class="input-group has-validation">
           
    <div class="size">
      <input name = "StartWork" type="text" class="form-control input_size " id="validationCustom02" value="@Model.StartWork" required>
    </div>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>
  
  <div class="size">
    <label for="validationCustomUsername" class="form-label">Finish Work</label>
  </div>
  <div class="input-group has-validation">
           
    <div class="size">
      <input name="FinishWork" type="text" class="form-control input_size " id="validationCustom02" value="@Model.FinishWork" required>
    </div>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>
  <div class="size">
    <label for="validationCustomUsername" class="form-label">Image</label>
  </div>
  <div class="input-group has-validation">
             
    <div class="size">
      <input name="Image" type="text" class="form-control input_size " id="validationCustom02" value="@Model.image" required>
    </div>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>
  
  
  <div class="size">
    <div class="form-check">
      
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="size">
    <button class="btn btn-primary mb-5" type="submit">Add Hospital</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>        
<script src = "/js/script.js"></script>
  <footer id="bottom" class="bg-dark text-white p-3 mt-5">
    <div class="container text-center" data-sr-id="14" style="visibility: visible; opacity: 1; transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
      <h6 class="my-auto">Online Hospital © Copyright 2022 Loyalty Point</h6>
    </div>
  </footer>
</body>

</html>