@using System.Linq
@model Hosp.Controllers.AddDoctorViewModel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<header class="bg-black text-white p-3 header">
    <div class="Foter">
        <button id="Doctors" class="index-blm">
            <a class="Find_button" asp-controller="Doctor" asp-action="">Back</a>
        </button>


    </div>
</header>
<div class="dove">
    <form asp-controller="Doctor" class="style_form" asp-action="EditDoctor" method="post">
        <input name = ID  type="hidden" value="@Model.Doctor.ID">
   
        <div class = "test">
         <input name="Name" type="text" class="name" placeholder="Enter Name " value="@Model.Doctor.Name" required>
        <span class = "span"> </span>
           </div>
       
        <div class="test">
            <input name="LastName" type="text" class="name" placeholder="Enter LastName" value="@Model.Doctor.LastName" required>
            <span class = "span"></span>
        </div>
        <div class="test">
            <input name="Profesion" type="text" class="name" placeholder="Enter Profesion " value="@Model.Doctor.Profesion" required>
            <span class = "span"></span>
        </div>
        <div class="test">
            <input name="PhoneNumber" type="text" class="name"  placeholder="Enter Phone" VALUE="@Model.Doctor.PhoneNumber" required>
            <span class = "span"></span>
        </div>
        <div class="test">
            <input name="PhoneInfo" type="text" class="name non"  placeholder="Enter Ingfo" VALUE="@Model.Doctor.Info">
             <span class = "span"></span>
        </div>
        <div class="custom-dropdown big mb-5">
            <select  name="HospitalId"  value="">      
                @foreach (var hospital in Model.Hospitals)
                {
                   
                    <option selected="@hospital.NameHospital"  value="@hospital.Id" required> @hospital.NameHospital</option>
                   
                }
		  </select>
	   </div> 
        <div class="test">
            <input name="StartHour" type="text" class="name" placeholder="Enter Start Work" value="@Model.Doctor.StartHour" required>
            <span class = "span"></span>
        </div>
        <div class="test">
            <input name="FinishHour" type="text" class="name" placeholder="Enter Finish Work" value="@Model.Doctor.FinishHour" required>

            <span class = "span"></span>
        </div>
        <div class="test">
        <input name="Image" type="text" class="name non" placeholder="Enter url Image" value="@Model.Doctor.Image">
        <span class = "span"></span>
        </div>
        <div class="for_button mb-3">

            <button id="Add_Doctor" class="index-blm" type="submit">
                Add
            </button>
        </div>
    </form>
</div>
