@model Doctor?

<header class="bg-black text-white p-3 header">
    <div class="Foter">
        <button id="Doctors" class="index-blm">
            <a class="Find_button" asp-controller="Doctor" asp-action="">Home</a>
        </button>
        <button id="Doctors" class="index-blm">
            <a class="Find_button" asp-controller="Hospital" asp-action="HospitalList">Hospitals</a>
        </button>

    </div>
</header>
<div class="container px-5 px-md-5 py-5 bg-white shadow border-main mb-5 doc">

<div class="row">
    <div class="col-6  ">
        <div class="d-flex justify-content-center flex-wrap  ">
            <img src="@Model.Image" alt="" class="rounded-circle pb-4 photo">
            <h1 class="ol text-center">@Model.Name @Model.LastName</h1>
            <h4 class="text-secondary ol text-center">@Model.Profesion</h4>

        </div>
    </div>

    <div class="col-6 ">
        <div class="  d-flex  flex-column justify-content-center h-100">


            <h3 class="pb-1 w-100 red">Information:</h3>
            <h3 class="text-secondary w-100">@Model.PhoneNumber</h3>
            <h3 class="text-secondary w-100">@Model.Info</h3>
            <h3 class="pb-1 w-100 red">Work Hour:</h3>
            <h3 class="text-secondary w-100">@Model.StartHour - @Model.FinishHour </h3>
            <a class="btn btn-danger mb-2" asp-controller="Doctor" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
            <a class="btn btn-primary " asp-controller="Doctor" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>

        </div>
    </div>
</div>
</div>